aio-pika
aiobotocore
aiogram
aiohttp
aiozk
alembic
arrow
asynctest
binance
cufflinks
deap
flake8
funcy
Historic-Crypto
joblib
jupyter
matplotlib
matplotlib
mongoengine
numba
numpy==1.22.0
pandas
pandas_ta
plotly
psycopg2-binary
pymongo
pytest
pytest-asyncio
pytest-cov
python-binance
python-dotenv
python-telegram-bot
python-twitter
requests
s3cmd
search-engine-parser
sklearn
sortedcontainers
spacy
sqlalchemy
stweet
tensorflow
textblob
